name: CI-PR

on: [pull_request]

jobs:
  clang-format:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: clang-format
      run: |
        docker run --rm -v ${PWD}:/src  wiiuenv/clang-format:13.0.0-2 -r ./source
  build-binary:
    runs-on: ubuntu-18.04
    needs: clang-format
    steps:
    - uses: actions/checkout@v2
    - name: build binary
      run: |
        docker build . -t builder
        docker run --rm -v ${PWD}:/project builder make
    - uses: actions/upload-artifact@master
      with:
       name: binary
       path: "*.rpx"